<!doctype html>
<html>
    <head>
        {% include "Header.html.twig" %}
    </head>

    <body>
        {% include "Navbar.html.twig" %}
        {% include "Login.html.twig" %}
        {% include "Signup.html.twig" %}

            <div class="container">
            
            {% if user.isLogged == "true" %}

            <br>
            <div id="accordion">
            {% for message in messages %}

                {% if not message.getID == null %}
                    <div class="card">
                        <div class="card-header bg-dark" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ message.getID }}" aria-expanded="false" aria-controls="collapseOne" style="color: white;">
                            Zpráva {{ message.getID }}
                            </button>
                        </h5>
                        </div>

                        <div id="collapse{{ message.getID }}" class="collapse bg-dark" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body text-white bg-dark mb-3">
                            <h4>předmět: {{ message.getSubject }}</h4>
                            {{ message.getText }}
                        </div>
                        </div>
                    </div>
                {% endif %}

            {% endfor %}
            </div>

            <br>
            <div class="form-group">
                 <div class="form-group">
                    <select class="form-control" id="message-sendto"  style="width: 300px;">
                    <option selected disabled>Příjemce</option>
                    <option>autor@redakce.vspj.cz</option>
                    <option>sefredaktor@redakce.vspj.cz</option>
                    <option>redaktor@redakce.vspj.cz</option>
                    <option>recenzent@redakce.vspj.cz</option>
                    <option>admin@redakce.vspj.cz</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="message-subject" placeholder="Předmět" style="width: 300px;">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="message-message" rows="3" placeholder="Zpráva"></textarea>
            </div>
            <button id="btn-sendmessage" class="btn btn-dark">Odeslat</button>
            {% else %}
                <br>
                <br>
                <h4>Nejste přihlášeni.</h4>

            {% endif %}
            
           
            </div>
       
        {% include "Footer.html.twig" %}
    </body>
</html>