<!doctype html>
<html>
    <head>
        {% include "Header.html.twig" %}
    </head>

    <body>
        {% include "Navbar.html.twig" %}
        {% include "Login.html.twig" %}
        {% include "Signup.html.twig" %}
        {% include "ReviewerForm.html.twig" %}


        <div class="container">
            
            <br>

            {% if user.role == "Recenzent" %}

            <div class="alert alert-dark" id="article-alert" role="alert" style="display: none;">
            </div>

            {% for article in articles %}
                {% if article is not null %}
                    <div class="card text-center">
                    <div class="card-header {{ color }} articleheader{{ article.getID }}">
                        Autor: {{ article.getAutorID }}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Článek číslo {{ article.getID }}</h5>
                            <p class="card-text">{{ article.getArticleTitle }}</p>
                            <p class="card-text">{{ article.getArticle }}</p>
                            <button name="{{ article.getID }}" data-toggle="modal" data-target="#reviewerform" class="btn btn-dark btn-article-review">Ohodnotit</button>
                        </div>
                        <div class="card-footer {{ color }} articlefooter{{ article.getID }}">
                            Datum: {{ article.getDate }}
                        </div>
                    </div>
                    <br>
                {% endif %}
            {% endfor %}

            {% else %}
                {% include "NotAllowed.html.twig" %}
            {% endif %}

        </div>

       
        {% include "Footer.html.twig" %}
    </body>
</html>